<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">NIE ZNALEZIONO STRONY!!!</h1>
    </div>
    <a class="btn btn-outline-success" asp-controller="Game" asp-action="Index">Home Pages</a>
</div>