@model Shop

@{
    ViewData["Title"] = "Edytuj Sklep";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Edytuj Sklep</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ImagePreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Logo" class="control-label"></label>
                        <input asp-for="Logo" class="form-control" />
                        <span asp-validation-for="Logo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nazwa" class="control-label"></label>
                        <input asp-for="Nazwa" class="form-control" />
                        <span asp-validation-for="Nazwa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Lokalizacja" class="control-label"></label>
                        <input asp-for="Lokalizacja" class="form-control" />
                        <span asp-validation-for="Lokalizacja" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Pokaż wszystkie</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ImagePreview');
            output.src = $("#ImageURL").val();
        })
        $("#ImageURL").on("change", function () {
            var output = document.getElementById('ImagePreview');
            output.src = $(this).val();
        })
    </script>
}