<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Nie masz uprawnień do wejścia na stronę</h2>
        <p>Proszę kliknąć w przycisk poniżej aby wrócić na stronę główną.</p>
        <hr />
        <p>
            <a asp-controller="Game" asp-action="Index" class="btn btn-outline-success">Strona główna</a>
        </p>
    </div>
</div>