<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Konto zarejestrowane pomyślnie!</h2>
        <p>Możesz teraz zalogować się na swoje konto za pomocą swoich danych.</p>
        <hr />
        <p>Dziękuję!</p>
    </div>
</div>